@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.jalendar-input {
  position: relative;
  width: 280px;
  display: inline-block;
}
.jalendar-input input {
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.jalendar-input input.selected + .jalendar {
  opacity: 1;
  visibility: visible;
  z-index: 999999;
}
.jalendar-input .jalendar {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 34px;
}
.jalendar {
  position: relative;
  width: 100%;
  margin: 10px auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: inline-block;
}
.jalendar .clear {
  clear: both;
}
.jalendar .left {
  float: left;
}
.jalendar .added-event {
  display: none;
}
.jalendar .jalendar-container {
  display: inline-block;
  width: 100%;
}
.jalendar .jalendar-container .jalendar-pages {
  position: relative;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: #207cd1;
  background: -webkit-gradient(linear, left top, left bottom, from(#207cd1), to(#33c1ea));
  background: -webkit-linear-gradient(top, #207cd1, #33c1ea);
  background: -moz-linear-gradient(top, #207cd1, #33c1ea);
  background: -ms-linear-gradient(top, #207cd1, #33c1ea);
  background: -o-linear-gradient(top, #207cd1, #33c1ea);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 1s cubic-bezier(0.45, 0.24, 0.36, 1.31);
  -moz-transition: all 1s cubic-bezier(0.45, 0.24, 0.36, 1.31);
  -ms-transition: all 1s cubic-bezier(0.45, 0.24, 0.36, 1.31);
  -o-transition: all 1s cubic-bezier(0.45, 0.24, 0.36, 1.31);
  transition: all 1s cubic-bezier(0.45, 0.24, 0.36, 1.31);
  /* inside .jalendar-pages */
}
.jalendar .jalendar-container .jalendar-pages > .header {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 0;
  background-color: transparent !important;
}
.jalendar .jalendar-container .jalendar-pages > .header h1 {
  margin: 10px 0 30px 0;
  padding: 0;
  display: inline-block;
  font: 700 16px "Open Sans", Arial, Helvetica, Geneva, sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  border: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.jalendar .jalendar-container .jalendar-pages > .header h2 {
  display: inline-block;
  width: 14%;
  padding: 0;
  text-indent: 1px;
  text-align: center;
  margin: 0;
  font: 700 10px "Open Sans", Arial, Helvetica, Geneva, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.jalendar .jalendar-container .jalendar-pages > .header .day-names {
  overflow: hidden;
  text-align: center;
  font-size: 0;
}
.jalendar .jalendar-container .jalendar-pages > .header .prv-m,
.jalendar .jalendar-container .jalendar-pages > .header .nxt-m {
  text-decoration: none;
  position: absolute;
  display: inline-block;
  top: 4px;
  cursor: pointer;
  color: #fff;
}
.jalendar .jalendar-container .jalendar-pages > .header .prv-m i,
.jalendar .jalendar-container .jalendar-pages > .header .nxt-m i {
  font-size: 32px;
}
.jalendar .jalendar-container .jalendar-pages > .header .prv-m {
  left: 10px;
}
.jalendar .jalendar-container .jalendar-pages > .header .nxt-m {
  right: 10px;
}
.jalendar .jalendar-container .jalendar-pages .total-bar {
  position: absolute;
  right: -15px;
  top: -9px;
  border-radius: 20px;
  width: 15px;
  height: 14px;
  z-index: 99;
  display: inline-block;
  padding: 1px 0 0 0;
  text-align: center;
  color: #fff;
  background-color: #e25757;
  font: 400 9px "Open Sans", Arial, Helvetica, Geneva, sans-serif;
  text-shadow: none;
}
.jalendar .jalendar-container .jalendar-pages .days {
  margin: 10px 0 0 0;
  font-size: 0;
  text-align: center;
  overflow: hidden;
}
.jalendar .jalendar-container .jalendar-pages .days .day {
  display: inline-block;
  width: 14.2%;
  height: 35px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  color: rgba(0, 0, 0, 0.2);
  font: 700 13px "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  /* inside .day */
}
.jalendar .jalendar-container .jalendar-pages .days .day.this-month span {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 1;
}
.jalendar .jalendar-container .jalendar-pages .days .day.this-month span:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333 !important;
}
.jalendar .jalendar-container .jalendar-pages .days .day.this-month.selected span {
  background-color: #ffffff;
  color: #333;
}
.jalendar .jalendar-container .jalendar-pages .days .day span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: 3px 0 0 0;
  padding: 6px 0 0 0;
  display: inline-block;
  position: relative;
  opacity: .7;
}
.jalendar .jalendar-container .jalendar-pages .days .day span a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
}
.jalendar .jalendar-container .jalendar-pages .days .day span a:hover {
  color: rgba(0, 0, 0, 0.9);
}
.jalendar .jalendar-container .jalendar-pages .days .day.today span {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.jalendar .jalendar-container .jalendar-pages .days .day.today span a {
  color: rgba(255, 255, 255, 0.8);
}
.jalendar .jalendar-container .jalendar-pages .days .day.have-event span:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 8px;
  background-color: #e25757;
  position: absolute;
  right: 1px;
  top: 5px;
}
.jalendar .jalendar-container .jalendar-pages .days .day > .event-single {
  display: none;
}
.jalendar .jalendar-container .jalendar-pages .days .day.first-range {
  border-radius: 6px 0 0 6px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}
.jalendar .jalendar-container .jalendar-pages .days .day.first-range:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid rgba(0, 0, 0, 0.4);
}
.jalendar .jalendar-container .jalendar-pages .days .day.range {
  background-color: rgba(0, 0, 0, 0.1);
}
.jalendar .jalendar-container .jalendar-pages .days .day.last-range {
  border-radius: 0 6px 6px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.jalendar .jalendar-container .jalendar-pages .days .day.last-range:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.4);
}
.jalendar .jalendar-container .jalendar-pages .days .day.first-range span:hover,
.jalendar .jalendar-container .jalendar-pages .days .day.range span:hover,
.jalendar .jalendar-container .jalendar-pages .days .day.last-range span:hover {
  background-color: transparent;
}
.jalendar .jalendar-container .jalendar-pages .add-event {
  height: 0;
  overflow: hidden;
  margin: 0 -20px;
  text-align: left;
  -webkit-transition: all 0.3s cubic-bezier(0.45, 0.24, 0.36, 1.31);
  -moz-transition: all 0.3s cubic-bezier(0.45, 0.24, 0.36, 1.31);
  -ms-transition: all 0.3s cubic-bezier(0.45, 0.24, 0.36, 1.31);
  -o-transition: all 0.3s cubic-bezier(0.45, 0.24, 0.36, 1.31);
  transition: all 0.3s cubic-bezier(0.45, 0.24, 0.36, 1.31);
}
.jalendar .jalendar-container .jalendar-pages .add-event.selected {
  margin-bottom: -20px;
}
.jalendar .jalendar-container .jalendar-pages .add-event.selected .close-button {
  display: block;
}
.jalendar .jalendar-container .jalendar-pages .add-event .close-button {
  cursor: pointer;
  margin: 15px 0 -20px 0;
  padding: 10px 0;
  font: 700 10px 'Open Sans', 'Helvetica Neue', Arial;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 0 0 3px 3px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: none;
}
.jalendar .jalendar-container .jalendar-pages .add-event .close-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.jalendar .jalendar-container .jalendar-pages .add-event .events {
  position: relative;
  margin: 10px 0 0 0;
  padding: 0 20px;
}
.jalendar .jalendar-container .jalendar-pages .add-event .events h3 {
  font: 700 11px "Open Sans", "Helvetica Neue", Arial;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}
.jalendar .jalendar-container .jalendar-pages .add-event .events .events-list .event-single {
  margin: 14px 0 0 0;
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0 0 14px 0;
}
.jalendar .jalendar-container .jalendar-pages .add-event .events .events-list .event-single:last-child {
  padding-bottom: 0;
}
.jalendar .jalendar-container .jalendar-pages .add-event .events .events-list .event-single:last-child:before {
  display: none;
}
.jalendar .jalendar-container .jalendar-pages .add-event .events .events-list .event-single:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.jalendar .jalendar-container .jalendar-pages .add-event .events .events-list .event-single p {
  padding: 0;
  font: 400 12px "Open Sans", 'Helvetica Neue', Arial;
  margin: 0;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 0 0 0 20px;
}
.jalendar .jalendar-container .jalendar-pages .add-event .events .events-list .event-single p:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 6px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}
.jalendar .jalendar-container .jalendar-pages .add-event .events .events-list .event-single p a {
  color: #333;
}
