﻿<%@ WebHandler Language="C#" Class="Chire.ChireInter.Server.Admin.Server_admin_add" %>
using System;
using System.Web;

namespace Chire.ChireInter.Server.Admin
{

	public class Server_admin_add : System.Web.IHttpHandler
	{
	
		public void ProcessRequest (HttpContext context)
		{
        
		}


        



		public bool IsReusable {
			get {
				return false;
			}
		}
	}
}
